body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.contactos{
    left: 94%;
    top: 87%;
    width: 5%;
    height: 10%;
    position: fixed;
}

.contactos:hover{        
    transform: scale(0.9);  
}


.portada{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 1%;
}

header{
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding: 1%;
    text-align: center;
    z-index: 3;
    position: relative;
}



.titulo{
    display: flex;
    justify-content: space-around;
    font-size: 100%;
    margin: 0;
}

.nosotros{
    color: white;
    text-decoration: none;
}

.nosotros:hover{
    color: lightseagreen;
    transform: scale(1.4);
}

.servicios{
    color: white;
    text-decoration: none;
}

.servicios:hover{
    color: lightseagreen;
    transform: scale(1.4);
}

.nosotros:hover{
    color: lightseagreen;
    transform: scale(1.4);
}

.home{
    color: white;
    text-decoration: none;
}

.home:hover{
    color: lightseagreen;
    transform: scale(1.4);
}

.menu {
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 1% 0;
  position: sticky;
  top: 0;
  margin-left: 15%;
  margin-right: 15%;
  height: 3%;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  animation-name: menuintro;
  animation-duration: 1000ms;
  z-index: 2;
}

@keyframes menuintro{
  0%{position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 13%;
    margin-top: 0%;
    opacity: 0;
    padding: 1% 0%;
    width: 75%;
  }
  100%{position: absolute;
    display: flex;
    justify-content: center; 
    margin-left: 13%;
    margin-top: 3.5%;
    opacity: 100%;
    padding: 1% 0%;
    width: 75%;
  }
}


nav{
   position: relative;
   z-index: 1;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0.5% 1%;
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
    transform: scale(0.9);
    
}

nav a:hover{
    font-size: 100%;
}

article{
    font-size: 130%;
    margin-right: 5%;
    margin-top: 10%;
    height: auto;
    width: auto;
    border-radius: 15%;
    padding: 3%;
    backdrop-filter: blur(10px);
    color: white;
    font-family:"Comic Sans MS", cursive;
    text-align: center;
    z-index: -1;
    position: absolute;
    animation-name: mover-texto;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    opacity: 0%;
}


@keyframes mover-texto{
    0%{transform: translateX(30%);
    opacity: 0%}
    100%{transform: translateX(0%);
    opacity: 100%}
}


.parrafo{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 30%;
    padding-top: 3%;
    padding-left: 10%;
}


            /*SOBRE NOSOTROS*/

.fondo1{
    background-color: white;
    padding: 20px 0 20px 0;
}
            
.about-us{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.masinfo{
    text-decoration: none;
}

.item{
    flex-grow: 1;
}

.item img:hover{
    transform: scale(1.1);
}

.about{
    margin-top: 70px;
    text-align: center;
}

.subtitulo{
    margin-left: 100px;
    color: cadetblue;
}

.text{
    margin: 30px 0 50px 100px;
    font-size: 20px;
}

   
           /*BOTONES PARA EMPEZAR*/

.empezar1{
    border-radius: 20px;
    font-family: unset;
    text-decoration: none;
    margin: 0 25px 0 100px;
    background-color: transparent;
    outline: 5px solid cadetblue;
    padding: 10px;
}

.empezar1:hover{
    color: orangered;
    font-size: 110%;
}

.empezar2{
    border-radius: 20px;
    font-family: unset;
    text-decoration: none;
    margin: 0 25px 0 100px;
    background-color: transparent;
    outline: 5px solid cadetblue;
    padding: 10px;
}

.empezar2:hover{
    color: orangered;
    font-size: 110%;
}

        /* NUESTROS SERVICIOS */

.fondo2{
    background-color: cornsilk;
    padding: 20px 0 20px 0;
}
        
        
.service{
    text-align: center;
}

.text2{
    text-align: center;
    font-size: 20px;
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

.items{
    outline: 3px solid;
    width: 300px;
    height: 350px;
    cursor: pointer;
}

.items:hover{
    transform: scale(0.9);
    background-color: #ccffcc;
}

.imagen1{
    margin-left: 33%;
}
.imagen2{
    margin-left: 33%;
}
.imagen3{
    margin-left: 33%;
}

.name-service{
    text-align: center;
    font-size: 30px;
}

.text3{
    text-align: center;
    font-size: 20px;
}


/* PIE DE PAGINA */

footer{
    background-color:#222;
    height: 300px;
}

.mainmenu{
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.titulo-piepag{
    color: white;
    font-size: 50px;
    margin: 0 0 10px 0;
}

.contact{
    margin: 10px 0 10px 0;
    color: white;
    font-size: 30px;
}

.cont-item{
    display: flex;
    color: white;
    justify-content: space-between;
}

.correo-item{
    margin: 0 40px 0 10px;
    display: flex;
    flex-direction: column;
}

.telefono-item{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}


.formulario-container{
    margin-top: 50px;
}


footer a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover{
    color: #3AA8AD;
}

.copy{
    font-size: 16px;
    text-align: center;
    color: white;
}